/* openGA style sheet */

.title{
	text-align: center;
}

.wrapper{
	width: 800px;
	margin: 20px auto;
}

.content{
	background-color: #f4fff6;
	border: solid 1px #cccccc;
	border-radius:5px;
}

.row{

}

.cell_label_l{
	display: inline-block;
	width: 500px;
	text-align: right;
}

.short_text{
	display: inline-block;
	width: 150px;
	/*text-align: right;*/
}

.cell_input{
	display: inline-block;
}

div.center{
	text-align: center;
}

span.separator{
	margin-top: 20px;
	display: block
}

.content{
	/*background-color: #f8f8f8;*/
	border: solid 1px #eeeeee;
	border-radius:3px;
	margin-top: 3px;
}

#opt_var{
	border: solid 1px #dddddd;
	border-radius:3px;
	margin-top: 3px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.add_more{
	width: 100px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#opt_obj{
	border: solid 1px #dddddd;
	border-radius:3px;
	margin-top: 3px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.obj_cell_name{
	width: 150px;
}

.obj_cell_val{
	width: 400px;
}

div.var{
	/*nothing yet*/
}

div.obj{
	/*nothing yet*/
}

.disclaimer{
	background-color: #fdfef6;
	border: solid 1px #eeeeee;
	border-radius:5px;
	margin: 20px;
	padding: 20px;
}

#code{
	background-color: #f6fefb;
	border: solid 1px #eeeeee;
	border-radius:5px;
	padding: 10px;
	width: 750px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.var_name{
	width: 200px;
}

.var_min{
	width: 50px;
}

.var_max{
	width: 50px;
}

